<div id="navigation">
    <div class="row">
        <div class="columns small-6">
            <object data="/img/logo-bold.svg" type="image/svg+xml">
				<img src="/img/logo.png" />
			</object>
        </div>
        <div class="columns small-4 offset-2">
            <ul class="small-block-grid-3">
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/customers">Customers</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="hero"> 
    <div class="row">
        <div class="columns small-12">
            <h1>Build Your Business on<span class="coke pinterest-logo">Pinterest</span></h1>
            <h2> Measure, engage, and grow your audience</h2>

            <div class="row">
                <div class="columns small-centered small-12 large-6">
                    <form action="/join" method="post">
                        <input type="submit" name="submit" value="Start Free Trial" />
                        <div class="email-wrap" >
                            <input type="text" placeholder="enter your email address" name="email" value="" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="what-we-do">
    <div class="row">
        <div class="columns small-12">
            <ul class="large-block-grid-4 small-block-grid-2">
                <li class="active">
                    <h3> <i class="icon-graph"></i> Analytics</h3>
                    <p>Every insight you need to take action where it matters most</p>
                </li>
                <li>
                    <h3> <i class="icon-gauge"></i> Audience Engine</h3>
                    <p>Attract new followers and grow faster with targeted organic
                    engagement</p>
                </li>
                <li>
                    <h3> <i class="icon-target-2"></i> Targeted Email</h3>
                    <p>Deliver highly relevant content to each of your subscribers
                    based on their individual tastes</p>
                </li>
                <li>

                    <h3>  <i class="icon-equalizer"></i>Management</h3>
                    <p>Get the expertise of a social media manager for a fraction of
                    the costs</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="who-we-help">
    <div class="row">
        <div class="columns small-12">
            <h3> Who We help </h3>
            <ul class="small-block-grid-1 large-block-grid-5">
                <li>
                    <img src="/img/clients/gannett-grey.png" alt="Gannet" />
                </li>
                <li>
                    <img src="/img/clients/stork-stack-grey.png" alt="Stork Stack" />
                </li>
                <li>
                    <img src="/img/clients/target-grey.png" alt="Target" />
                </li>
                <li>
                    <img src="/img/clients/minimus-grey.png" alt="Minimus" />
                </li>
                <li>
                    <img src="/img/clients/humane-society-grey.png" alt="Humane Society" />
                </li>
            </ul>
        </div>
    </div>
</div>


<footer id="footer">
    <div class="row">
        <div class="columns small-12 large-6">
            <div class="row">
                <div class="columns small-4">
                    <h4>Learn more</h4>
                    <ul>
                        <li>
                            <a href="/customers">Who We've Helped</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/about/faq">F.A.Q</a>
                        </li>
                        <li>
                          <a href="/pricing">Pricing</a>
                        </li>
                    </ul>
                
                </div>
                <div class="columns small-4">
                  <h4>Product</h4>
                  <ul>
                      <li>
                          <a href="/products/audience-engine">Audience Engine</a>
                      </li>
                      <li>
                          <a href="/products/analytics">Analytics Dashboard</a>
                      </li>
                      <li>
                          <a href="/products/account-management">Account Management</a>
                      </li>
                      <li>
                          <a href="/products/enterprise">Enterprise</a>
                      </li>
                      
                      <li>
                          <a href="products/agencies">Agencies</a>
                      </li>
                  </ul>
                </div>
                <div class="columns small-4">
                    <h4> The Company </h4>
                    <ul>
                        <li>
                            <a href="/about/our-story">Our Story</a>
                        </li>
                        <li>
                            <a href="/about/team">Team</a>
                        </li>
                        <li>
                            <a href="/about/mission">Our Mission</a>
                        </li>
                        <li>
                            <a href="/jobs">We're Hiring!</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social columns small-12 large-6">
            <ul>
                <li>
                    <a href="//pinterest.com/pinleauge">
                        Pin with us
                        <i class="icon-pinterest-2"></i>
                    </a>
                </li>
                <li>
                    <a href="//twitter.com/pinleauge">
                        Tweet with us
                        <i class="icon-twitter-2"></i>
                    </a>
                </li>
                <li>
                    <a href="//facebook.com/pinleauge">
                        Connect with us
                        <i class="icon-facebook-2"></i>
                    </a>
                </li>
            </ul>
            <p class="small-print">
               &copy; 2013 Pinleague &nbsp;|&nbsp;  <i class="icon-heart"></i> Lovingly made in NYC + OKC 
            </p>
        </div>
    </div>
</footer>
