<div id="navigation">
    <div class="row">
        <div class="columns small-6">
            <object data="/img/logo-bold.svg" type="image/svg+xml">
				<img src="/img/logo.png" />
			</object>
        </div>
        <div class="columns small-4 offset-2">
            <ul class="small-block-grid-3">
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/customers">Customers</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="hero"> 
    <div class="row">
        <div class="columns small-12">
            <h1>Build Your Business on <span class="coke pinterest-logo">Pinterest</span></h1>
            <h2> Measure, engage, and grow your audience</h2>

            <form action="/join" method="post">
                <input type="text" placeholder="enter your email address" name="email" value="" />
                <input type="submit" name="submit" value="Free Trial" />
            </form>
            <div class="row">
                <div class="columns small-centered small-12 large-6">
                    <form action="/join" method="post">
                        <input type="submit" name="submit" value="Free Trial" />
                        <div class="email-wrap" >
                            <input type="text" placeholder="enter your email address" name="email" value="" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="what-we-do">
    <div class="row">
        <div class="columns small-12">
            <ul class="large-block-grid-4 small-block-grid-2">
                <li class="active">
                    <h3> <i class="icon-graph"></i> Analytics</h3>
                    <p>Every insight you need to take action where it matters most</p>
                </li>
                <li>
                    <h3> <i class="icon-gauge"></i> Audience Engine</h3>
                    <p>Attract new followers and grow faster with targeted organic
                    engagement</p>
                </li>
                <li>
                    <h3> <i class="icon-target-2"></i> Targeted Email</h3>
                    <p>Deliver highly relevant content to each of your subscribers
                    based on their individual tastes</p>
                </li>
                <li>

                    <h3>  <i class="icon-equalizer"></i>Management</h3>
                    <p>Get the expertise of a social media manager for a fraction of
                    the costs</p>
                </li>
            </ul>
        </div>
    </div>
</div>
