<div id="navigation">
    <div class="row">
        <div class="columns small-6">
            <object data="/img/logo-bold.svg" type="image/svg+xml">
				<img src="/img/logo.png" />
			</object>
        </div>
        <div class="columns small-4 offset-2">
            <ul class="small-block-grid-3">
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/customers">Customers</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="hero"> 
    <div class="row">
        <div class="columns small-12">
            <h1>Build Your Business on <span class="pinterest-logo">Pinterest</span></h1>
            <h2> Measure, engage, and grow your audience</h2>

            <form action="/join" method="post">
                <input type="text" placeholder="enter your email address" name="email" value="" />
                <input type="submit" name="submit" value="Free Trial" />
            </form>
        </div>
    </div>
</div>
